<table class="table">

  <thead>

    <tr>
  
      <td>pavadinimas</td>
      <td>albumas</td>

    </tr>

  </thead>
  <tbody>
    {{#each songs}}
      <tr>
       
        <td>{{song_Name}}</td>
        <td>{{song_album}}</td>
       
        </td>

      </tr>
    {{/each}}
  </tbody>
</table>